.h1-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.85rem;
  line-height: 140%;
  letter-spacing: -1px;
}

.h2-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: 0%;
}

.h2-sremibold {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 130%;
  letter-spacing: 0%;
}

.h3-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: 0%;
}

.h3-sremibold {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 124%;
  letter-spacing: 0%;
}

.base-medium {
  font-family: Inter;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: 0px;
}

.base-sremibold {
  font-family: Inter;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: 0%;
}

.base-bold {
  font-family: Inter;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 140%;
  letter-spacing: 0px;
}

.para-regular {
  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0px;
}

.para-sremibold {
  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 130%;
  letter-spacing: 0%;
}

.para-medium {
  font-family: Inter;
  font-weight: 500;
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0px;
  text-align: center;
}

.body-regular {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  letter-spacing: 0%;
}

.body-semibold {
  font-family: Inter;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 130%;
  letter-spacing: 0%;
}

.body-medium {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 130%;
  letter-spacing: 0%;
}

.small-regular {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 130%;
  letter-spacing: 0%;
}

.small-semibold {
  font-family: Inter;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 130%;
  letter-spacing: 0%;
}

.small-medium {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 130%;
  letter-spacing: 0%;
}

.subtle-medium {
  font-family: Inter;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 130%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.subtle-regular {
  font-family: Inter;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 130%;
  letter-spacing: 0%;
}
